@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.orange-line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}
/* body */
body {
  font-family: "Roboto", "Arial";
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}
/* container */
.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* button */
.orange-button {
  display: inline-block;
  background-color: #ff7500;
  color: #f8f8f8;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 4px;
}
/* header */
.header {
  position: sticky;
  z-index: 10;
  background-color: white;
  top: 0px;
  padding-bottom: 16px;
  padding-top: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;
}
.burger-menu {
  display: none;
}
.top-line {
  position: absolute;
  top: 0px;
  height: 5px;
  width: 100%;
  background-color: #ff7500;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-1:active {
  background-color: ;
}
.header-links-wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header-links {
  display: flex;
  gap: 114px;
}
.header-link {
  position: relative;
  color: black;
}
.header-link:hover {
  color: #ff7500;
}
.header-link::after {
  width: 0%;
  content: "";
  left: 0;
  bottom: -5px;
  position: absolute;
  display: inline-flex;
  align-items: start;
  width: 0%;
  height: 2px;
  background-color: #ff7500;
  transition: width 0.5s ease;
}

.header-link:hover::after {
  width: 100%;
}
/* hero */
.hero {
  background-color: #252420;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}
.hero-line {
  margin-bottom: 40px;
}
.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-content {
  max-width: 387px;
  width: 100%;
}
.hero-title {
  font-family: "Roboto Condensed ", Arial, sans-serif;
  font-size: 40px;
  letter-spacing: 0.5px;
  margin-bottom: 22px;
  line-height: 122%;
}
.hero-text {
  margin-bottom: 32px;
}
.hero-img {
  position: absolute;
  top: -40px;
  right: 0px;
  width: 510px;
  height: 510px;
  border-radius: 8px;
  box-shadow: 24px 24px 0px 0px #ff7500;
}
/* why */
.why {
  padding-bottom: 236px;
  padding-top: 330px;
}
.why-line {
  margin-bottom: 24px;
}
.why-title {
  font-family: "Roboto Condensed ", Arial, sans-serif;
  margin-bottom: 72px;
  line-height: 122%;
  letter-spacing: 0.5;
  font-size: 72px;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  max-width: 340px;
  width: 100%;
}
/* circle */
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 20%);
  border-radius: 50%;
}

/* card */
.card-title {
  font-family: "Roboto Condensed ", Arial, sans-serif;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 120%;
}
/* cta */
.cta {
  scroll-margin-top: 200px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
  color: white;
  padding: 64px;
  border-radius: 12px;
  margin-bottom: 160px;
}
.cta:target {
  border: 3px solid red;
}
.cta-content {
  max-width: 440px;
  width: 100%;
}
.cta-title {
  font-family: "Roboto Condensed ", Arial, sans-serif;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
  margin-bottom: 24px;
}
.cta-text {
  margin-top: 12px;
  margin-bottom: 24px;
}
.cta-img {
  position: absolute;
  top: -85px;
  right: 64px;
  width: 440px;
  height: 440px;
  border-radius: 12px;
}
/* orange */
.orange-text {
  color: #ff7500;
}
/* fotter */
.footer {
  background-color: #f8f8f8;
  padding-top: 56px;
  padding-bottom: 56px;
}
.footer:target {
  border: 3px solid red;
}
.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}
.logo:hover {
  background-color: palegoldenrod;
}
.socials {
  display: flex;
  gap: 16px;
}
.app:active {
  background-color: #ff7500;
}
.fotter-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.fotter-link {
  text-decoration: none;
  color: #252420;
}
.fotter-link:hover {
  background-color: rgba(255, 117, 0, 20%);
}

/* RECPONCIVE  */

/* header  */
@media (max-width: 1125px) {
  .header-nav {
    display: none;
  }
  .burger-menu {
    display: block;
  }
}

/* hero  */
@media (max-width: 950px) {
  .hero-img {
    position: static;
  }
  .hero-container {
    flex-direction: column;
    gap: 40px;
  }
  .hero-content {
    max-width: 100%;
    text-align: center;
  }
  .hero-line {
    margin-left: auto;
    margin-right: auto;
  }
  .hero-img {
    width: 100%;
    height: 660px;
  }
}
@media (max-width: 660px) {
  .hero-img {
    width: 100%;
    height: 460px;
  }
  .hero-title {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .btn {
    display: none;
  }
  .hero-text {
    text-align: justify;
  }
  .hero-line {
    margin-left: 0px;
  }
  .hero-title {
    font-size: 25px;
  }
  .hero-img {
    width: 100%;
    height: 360px;
  }
}
@media (max-width: 410px) {
  .hero-title {
    font-size: 18px;
    text-align: justify;
  }
}
@media (max-width: 350px) {
  .header-logo {
    width: 120px;
    height: 30px;
  }
  .burger-menu {
    width: 12px;
    height: 12px;
  }
  .hero-img {
    width: 100%;
    height: 250px;
  }
}
/* why-cards  */
@media (max-width: 1125px) {
  .why {
    text-align: center;
    gap: 20px;
    padding-bottom: 96px;
    padding-top: 70px;
  }
  .why-line {
    margin-left: auto;
    margin-right: auto;
  }
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .circle {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
  }
}
@media (max-width: 650px) {
  .why-title {
    font-size: 40px;
  }
  .card-title {
    font-size: 28px;
  }
}
@media (max-width: 380px) {
  .why-title {
    font-size: 30px;
  }
  .card-title {
    font-size: 20px;
  }
}
/* cta */
@media (max-width: 1010px) {
  .cta-img {
    position: static;
  }
  .cta {
    flex-direction: column;
    gap: 40px;
    border-radius: 0px;
  }
  .cta-content {
    max-width: 100%;
    text-align: center;
  }
  .cta-img {
    width: 90%;
    height: 640px;
  }
}
@media (max-width: 660px) {
  .cta-img {
    width: 90%;
    height: 440px;
  }
  .cta-title {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .cta-text {
    text-align: center;
  }
  .cta-title {
    font-size: 25px;
  }
  .cta-img {
    width: 90%;
    height: 340px;
  }
}
@media (max-width: 410px) {
  .cta-title {
    font-size: 18px;
    text-align: center;
  }
  .cta-img {
    width: 90%;
    height: 240px;
  }
}
@media (max-width: 350px) {
  .cta-img {
    width: 90%;
    height: 190px;
  }
}
/* footer  */
@media (max-width: 950px) {
  .fotter-bottom {
    flex-direction: column;
    text-align: center;
  }
  .footer-links {
    font-size: 30px;
    gap: 22px;
  }
}
@media (max-width: 550px) {
  .footer-links {
    font-size: 20px;
    gap: 15px;
  }
  .loggo {
    width: 150px;
    height: 40px;
  }
  .image {
    width: 12px;
    height: 12px;
  }
}
